%html
  %head

    %title
      Mondrian - About

    %link{ rel: "stylesheet", href: "/build/styles/page.css", type: "text/css", media: "screen", charset: "utf-8" }

    %link{ rel: "shortcut icon", href: "build/img/favicon.gif" }
    %script{ src: "/build/jquery-1.7.2.min.js", type: "text/javascript", charset: "utf-8" }

    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39613096-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  %body
    #page

      #header
        %a{ href: "/" }
          #logo
            #left-bar.red
            #middle-bar.yellow
            #right-bar.blue
          #logotype
            Mondrian

      #content
        %h3
          XML Reference
        %p
          Mondrian provides a sparsely-used XML namespace <code>mondrian:</code> to record metadata that is used to maintain important parts of the UI state between sessions.

        %p
          This namespace is
          %a{ href: "http://www.w3.org/2001/tag/doc/namespaceState.html#namespacedef" }
            mutable;
          it is subject to grow and change as Mondrian is developed. However one of the design goals in this project is to minimize the "fluff" kept in SVG source files; you can expect this namespace to remain relatively bare.

        %p
          %h3
            Attributes
          %ul
            %li
              %code
                mondrian:angle
              %p
                %i
                  Value:
                number [0-360]
              %p
                %i
                  Example:
                %code
                  mondrian:angle="5.21489"
              %p
              By default shapes remember which angle they have been rotated to so the transformer can remain
              relative to their original reference surface. Persisting their current angle with this attribute allows
              us to maintain this feature throughout many sessions with a single file.



